.hero__Image {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
  grid-row: 1;
  grid-column: 1;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("../Assets/Room1\ copy.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.hero__text {
  border: solid;
  /* background: rgba(0, 0, 0, 0.5); */
  color: white;
  font-size: 15rem;
  font-family: "Cooler Brush";
  position: fixed;
}