.intro__wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background-color: royalblue;
}

.intro__image {
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  overflow: hidden;
  padding: 1rem;

  
  float: left;
  margin-right: 2rem; 
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

.intro__image img {
  height: 120%;
  width: auto;
  margin: 0rem -5rem 0rem -3rem;  
}

.intro__span {
  font-size: 4rem;
}

.intro__text {
  font-family: 'Abril Fatface', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__body {
  font-size: 2rem;
}