.intro__wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  background: rgb(238, 237, 221);
  display: flex;
  justify-content: center;
  align-items: center;
}



.intro__image {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  overflow: hidden;
  padding: 1rem;
  /* used to wrap with a shape can be a polygon, use firefox devtools */
  float: left;
  margin-right: 5rem; 
  -webkit-shape-outside:circle();
  shape-outside:circle();
}

.intro__image img {
  height: 130%;
  width: auto;
  margin: 0rem -4.5rem 0rem -9.5rem; 
  transform: scaleX(-1); 
  filter: grayscale(100%) sepia(100%) contrast(80%) brightness(80%);
  transition: ease-out 0.1s;
  cursor: pointer;
}

.intro__image img:hover {
  filter: none;
}

.intro__span {
  font-size: 4.5rem;
  display: flex;
}

.intro__body span {
  filter: sepia(0);
}

.intro__text {
  font-family: 'Abril Fatface', cursive;
  line-height: 1.8; 
  color: rgb(13, 3, 36);
}

.intro__body {
  font-size: 2.5rem;
}

.intro__emojiAnimate {
  animation: waving 3s ease-in-out ;
}

@keyframes waving {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(50deg);
  }
  80% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0deg);
  }
}